.header {
    background: var(--gray-700);
    height: 12.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 4.5rem;
}

.header strong {
    margin-left: 0.8rem;
    font-size: 2.5rem;
}

.header span {
    color: var(--blue);
}

.header span + span {
    color: var(--purple-dark);
}